.film-cards {
  margin: 70px auto 30px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: repeat(auto-fill, minmax(236px, 1fr)) / repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px 24px;
}

@media (max-width: 684px) {
  .film-cards {
    margin-top: 40px;
  }
}