.film-cards {
  margin: 70px 0 30px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: repeat(auto-fill, 271px) / repeat(auto-fill, 364px);
  gap: 30px 24px;
}

@media (max-width: 1280px) {
  .film-cards {
    grid-template: repeat(auto-fill, minmax(236px, 1fr)) / repeat(auto-fill, minmax(300px, 1fr));
  }
}